/*.animate-slide {
  animation: 0.5s slideInLeft;
}

.animate-slide.ng-hide {
  animation: 0.5s slideOutLeft;
}
*/

.jumbotron {
  padding:100px 0 130px 0;
}

.navbar-right {
    margin-right: 0;
}

.btn-toolbar {
  display: inline-block;
}​

a {
    cursor: pointer;
}

.navbar {
  margin:0;
}

.dropdown-form {
  padding: 17px;
  width: 300px;
}