<nav class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand">MEAN Auth</a>
  </div>
  <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li ng-show="currentUser" class="dropdown"><a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><span class="status">Me</span><span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/profile">Profile</a></li>
          <li><a href="/settings">Settings</a></li>
          <li role="separator" class="divider"></li>
          <li><a ng-click="logout()">Logout</a></li>
        </ul>
      </li>
    </ul>
    <div class="nav navbar-nav navbar-right"><a data-toggle="modal" data-target="#login-modal" ng-hide="currentUser" class="navbar-btn btn btn-info">Get Started</a></div>
  </div>
</nav>
<div id="login-modal" tabindex="-1" role="dialog" class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <div ng-show="err" class="alert alert-danger">{{err}}</div>
        <form>
          <div class="form-group">
            <label for="">Email</label>
            <input type="text" ng-model="user.email" class="form-control"/>
          </div>
          <div class="form-group">
            <label for="">Password</label>
            <input type="password" ng-model="user.password" class="form-control"/>
          </div>
          <div ng-show="signupMode" class="form-group">
            <label for="">Confirm Password</label>
            <input type="password" ng-model="user.confirm" class="form-control"/>
          </div>
        </form>
      </div>
      <div class="modal-footer"><a ng-click="signupMode = true" ng-hide="signupMode" class="btn btn-link">Sign Up</a>
        <button type="submit" ng-hide="signupMode" ng-click="login()" class="btn btn-info">Log In</button><a ng-click="signupMode = false" ng-show="signupMode" class="btn btn-link">Login</a>
        <button type="submit" ng-cloak="" ng-show="signupMode" ng-click="signup()" class="btn btn-info">Sign Up</button>
      </div>
    </div>
  </div>
</div>